@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 1vh 5vw;
    background-color: rgb(209, 166, 49);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#mesa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color:navajowhite;
    border: 1.5vmin solid rgb(180, 59, 59);
    border-radius: 20%;
    height: 92vh;
    width: 90vw;
    min-height: 600px;
    min-width: 400px;
}

#folha {
    display: flex;
    padding: 1.5vmin;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2vmin solid maroon;
    height: 95%;
    width: 60%;
    min-width: 290px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

h1 {
    font-size: 3.2vmax;
    text-decoration: underline;
}

ol {
    padding: 5%;
    flex: auto;
    width: 100%;
}

li {
    margin: 1.8%;
    border-bottom: 1px solid black;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
}

input {
    flex: 1;
    font-size: 2vmin;
}

button {
    margin-left: 1%;
    font-size: 2vmin;
}
